ollama # this is for the embedding / response model
qdrant-client # this is for the vector search
semantic-kernel 
streamlit  # Optional for a simple UI
rank-bm25 # this is for the embedding model
nltk # this is for the language detection
farasa # this is for the language detection
sentence-transformers # this is for the embedding model
python-magic # this is for the file type detection